
@model WebStore.ViewModels.EmployeeViewModel

<table class="table table-bordereed">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.SurName</td>
    </tr>
    <tr>
        <td>Отчество</td>
        <td>@Model.Patronymic</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>Должность</td>
        <td>@Model.Position</td>
    </tr>
    <td>
        @Html.ActionLink("Назад", "Employees")
    </td>
</table>
